#employee-profile-content {
  .employee-profile-qualities {
    height: 200px;
    padding: 40px 0 20px;
    background-color: #f1f1f1;

    .element {
      div.icon {
          font-size: 55px;
      }

      div.text {
        text-transform: uppercase;
        font-family: 'Raleway';
        font-weight: 500;
        letter-spacing: 2px;
      }
    }
  }
}

@include media-breakpoint-only(xs) {
  #employee-profile-content {
    .employee-profile-qualities {

      .element {
        div.icon {
            font-size: 30px;
        }

        div.text {
          font-size: 0.7em;
        }
      }
    }
  }
}
