.employee-profile-languages {
  padding: 40px 10px;
  background-color: rgba(14, 37, 78, 0.85);
  color: #ffffff;;
  min-height: 200px;

  .title {
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 800;
    letter-spacing: 10px;
    color: #dadbdc;
    font-size: 1em;
    margin-bottom: 10px;
  }

  .language-title {
    border-top: 1px solid #ffffff;
  }
}
